// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
$colors:(
    primary: #488aff,
    secondary: #32db64,
    light: #f53d3d,
    rosaMexicano: rgba(255, 68, 255, 0.829),
    dark: #222,
    favorite: #69bb7b
);

