<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" padding>
<p style="text-align: center;"> Texto normal </p>
<p style="text-align: left;"> Texto Izquierda </p>
<p style="text-align: right;"> Texto Derecha </p>
<p style="text-transform: uppercase;"> Texto en uppercase </p>
<p style="text-transform: lowercase;"> Texto lowercase </p>
<p style="text-align:center ;text-transform: capitalize;"> Texto Capitalizado </p>
<ion-text class="ion-text-center">
  <p>Texto centrado</p>
</ion-text>

<p padding>Texto cualquiera padding</p>
<p padding-left>Texto padding-left</p>
<p padding-right>Texto padding-right</p>
<p style="background-color: aqua; padding-bottom: 10px;">Texto padding-bottom</p>
<p padding-top>
  <span style="background-color: aquamarine; padding-top: 10px;">
    Texto padding-top
  </span>

</p>

<p margin>Texto margin</p>
<p margin-left>Texto margin-left</p>
<p margin-right>Texto margin-right</p>
<p margin-bottom>Texto margin-bottom</p>
<p margin-top>Texto margin-top</p>

 
</ion-content>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="perfil" href="/home/perfil">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="inicio" href="/home/inicio">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>


    <ion-tab-button tab="ajustes" href="/home/ajustes">
      <ion-icon name="cog"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>




